<div class="container">
    <div class="jumbotron">
        <h1>Hi!</h1>
        <p>This is MVC-Auth PHP implementation.</p>
        <?php
        if ($message = \App\Core\FlashMessage::get()) {
            ?>
            <div class="alert alert-<?php echo \App\Core\FlashMessage::getType(); ?>" role="alert"><?php echo $message; ?></div>
            <?php
        }
        ?>
        <p>Please, login or register.</p>
        <div class="btn-group" role="group">
            <?php
            if (\App\Services\AuthService::isAuthorized()) {
                ?>
                <a class="btn btn-primary btn-lg" href="/auth/profile-view" role="button">Profile</a>
                <?php
            } else {
                ?>
                <a class="btn btn-primary btn-lg" href="/auth/login-view" role="button">Login</a>
                <a class="btn btn-primary btn-lg" href="/auth/register-view" role="button">Register</a>
                <?php
            }
            ?>
        </div>
    </div>
</div>