<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <?php
            if (isset($title)) {
                echo $title;
            }
        ?>
    </title>
    <link href="/template/css/bootstrap.min.css" rel="stylesheet" media="all">
</head>
<body>
<?php
    require_once $view . '.phtml';
?>
</body>
</html>