<div class="container">
    <h2>Profile</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Change password</h5>
            <div class="card-text">
                <?php
                if ($message = \App\Core\FlashMessage::get()) {
                    ?>
                    <div class="alert alert-<?php echo \App\Core\FlashMessage::getType(); ?>" role="alert">
                        <?php echo $message; ?>
                    </div>
                    <?php
                }
                ?>
                <form action="/user/current/update-password" method="post">
                    <div class="form-group">
                        <label for="inputCurrentPassword">Current password</label>
                        <input type="password" name="current_password" class="form-control" id="inputCurrentPassword"
                               placeholder="Current password">
                        <div class="invalid-feedback" style="display: block">
                            <?php echo \App\Core\FlashMessage::getError('current_password') ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputNewPassword">New password</label>
                        <input type="password" name="new_password" class="form-control" id="inputNewPassword"
                               placeholder="New password">
                        <div class="invalid-feedback" style="display: block">
                            <?php echo \App\Core\FlashMessage::getError('new_password') ?>
                        </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Delete account</h5>
            <div class="card-text">
                <form action="/user/current/delete" method="delete">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Logout</h5>
            <div class="card-text">
            </div>
            <a class="btn btn-primary" href="/auth/logout" role="button">Logout</a>
        </div>
    </div>
</div>