<?php
// TODO parse validation errors
?>
<div class="container">
    <h2>Register</h2>
    <?php
    if ($message = \App\Core\FlashMessage::get()) {
        ?>
        <div class="alert alert-<?php echo \App\Core\FlashMessage::getType(); ?>" role="alert">
            <?php echo $message; ?>
        </div>
        <?php
    }
    ?>
    <form action="/auth/register" method="post">
        <div class="form-group">
            <label for="inputLogin">Login</label>
            <input type="text" name="login" class="form-control" id="inputLogin" placeholder="Enter login">
            <div class="invalid-feedback" style="display: block">
                <?php echo \App\Core\FlashMessage::getError('login') ?>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
            <div class="invalid-feedback" style="display: block">
                <?php echo \App\Core\FlashMessage::getError('password') ?>
            </div>
        </div>
        <div class="form-group">
            <label for="inputRepeatPassword">Repeat password</label>
            <input type="password" name="repeat_password" class="form-control" id="inputRepeatPassword"
                   placeholder="Repeat password">
            <div class="invalid-feedback" style="display: block">
                <?php echo \App\Core\FlashMessage::getError('repeat_password') ?>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>